.drop-area {
    min-height: 200px;
    box-sizing: border-box;
    background: gray;
    border: solid 1px gray;
}

.drop-area_fluid {
    position: relative;
    overflow: hidden;
}

.drop-area_grid {
    display: flex;
    flex-wrap: wrap;
}

.drop-area_focus {
    border: solid 1px lightgray;
    background: lightgray;
}
